body {
	margin:0;
	padding:0;
	display:block;
	background-color:#fbfaf9;
	font-family:helvetica, arial, freesans, clean, sans-serif;
}	
a {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, a, p {
	font-weight: normal;
	line-height: 1.35em;
}
hr {
	border-top: solid #ccc;
	border-bottom: solid #fff;
	border-width: 1.5px 0;
}
pre {
	background-color: #f8f8f8;
	border: 1px solid #cccccc;
	font-size: 16px;
	line-height: 20px;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
}
#navbar {
	background-color:#333;
	box-shadow:0 0 8px rgba(0,0,0,0.5);
	width:100%;
	padding:5px 0 5px 0 ;
}
#content {
	margin:0 auto;
	width:75%;
	max-width:1200px;
}
#header {
	padding:2em 3em 0.5em;
}
#widget {
	width: 10%;
	float:left;
}
#page_content {
	margin-left: 15%;
}
#doc_content {
	min-height: 190px;
	background: #fff;
	border: 1px solid #eee;
	box-shadow: 0 0 .5em #999;
	padding: 1.556em 2em 2em;
	margin: 1.5em 0 0.5em 0;
}
#doc_info {
	font-size: .875em;
	text-align: right;
	color:#999;
}

#toc {
	margin: -1.556em -2em .5em 1.4em;
	width: 16em;
	border-left: 1px solid #ccc;
	background: #fff;
	float: right;
	font-size: .875em;
}
#fotter {
	margin: 1.5em 0 1em 0;
	font-size: .875em;
	text-align: center;
	clear: both;
}
#navbar a{
	color:#bbb;
	margin-right:20px;
}
#navbar a:hover {
	color:#fff;
	text-decoration: underline;
}
#header h1 a, #post_header h1 a {
	color:#333;
}
#post_content p a, #post_content ul li a, #post_content ul a, #post_content li a, #widget a, #toc a, #fotter a, #act h2 a {
	color:#2b73b7;
}
#readmore, #pagination ul li a, #act ul li a {
	color:#080;
}
#act ul li a {
	margin:15%;
}
#post_header p, #pagination #disabled a {
	color:#999;
	margin-top: -1em;
}
#doc_info a, #post_header a {
	color:#625B57;
}
#toc div {
	padding: .5em 1em 1em;

}
#header h1 {
	font-size: 1.5em;
	margin-bottom:-0.2em;
}

#header h2, #widget h2 {
	font-size: 1em;
}

#widget ul {
	padding-left: 60%;
	margin-top: 20%;
}
#toc h3 {
	padding: .5em 1em;
	margin-bottom: -1em;
}
#toc ul {
	padding: 0 0 0 1.2em;
}

#widget ul, #toc ul {	
	list-style-type: square;
}
#pagination ul {
	color: #999;
	float: right;
	margin-top: -0.5em;
}

#act ul li {
	margin:15%;
	list-style:none;
	display:inline;
}
#pagination li {
	display: inline;
}
#navbar ul, #navbar li{
	list-style:none;
	display:inline;
	color:#bbb;
	font-size:16px;
}
#post_fotter hr {
	margin:2em 0 2em 0;
}
