{% extends "base.html" %}
{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock title %}
{% block post %}
	<!-- post start -->
	<h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
	<div class="post_content">	
		{{ article.content }}
		{% if DUOSHUO_SITENAME %}
		<h2>評論</h2>

		<div class="ds-thread">
		</div>
		<script type="text/javascript">
		    var duoshuoQuery = {
		        short_name: "{{ DUOSHUO_SITENAME }}"
		    }; (function() {
		        var ds = document.createElement('script');
		        ds.type = 'text/javascript';
		        ds.async = true;
		        ds.src = 'http://static.duoshuo.com/embed.js';
		        ds.charset = 'UTF-8'; (document.getElementsByTagName('head')[0] || 			document.getElementsByTagName('body')[0]).appendChild(ds);
	  	  })();
		</script>
		{% endif %}
	</div>
	<!-- post end -->
{% endblock post %}
{% block doc_info %}
	<!-- toc_info start -->
	<div class="doc_info">
	由<a href="{{ SITENAME }}/{{ article.author.url }}">{{ article.author }}</a>於{{ article.locale_date }}發表於<a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>，{% if article.modified %}最後更改於{{ article.modified }}{% endif %}
	<br />
	標籤：{% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }} </a>{% endfor %}&nbsp;
	</div>
	<!-- doc_info end -->
{% endblock doc_info %}
