<!DOCTYPE html>
<html lang="zh">
<head>
	{% block head %}
	<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{{ SITENAME }}{% endblock %}</title>
	<link rel="icon" type="image/png" href="{{ SITEURL }}/favicon.png">
	<link rel="stylesheet" type="text/css" href="{{ SITEURL}}/theme/css/main.css">
	{% if GOOGLE_ANALYTICS %}
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS }}']);
		_gaq.push(['_trackPageview']);
		(function() {
		var ga = document.createElement('script'); 
		ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	{% endif %}
	{% endblock head %}
</head>
<body>
	<!-- navbar stert -->
	<div id="navbar">
		<ul>
			{% for category, articles in categories %}
				<li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
			{% endfor %}
			<li><a href="{{ SITEURL }}/about.html">關於</a></li>
		</ul>
	</div>
	<!-- navbar end -->
	<!-- content start -->
	<div id="content">
		<!-- header start -->
		<div id="header">
			<h1><a href="{{ SITEURL }}">{{SITENAME}}</a></h1>
			<h2>{{ SUBTITLE }}</h2>
		</div>
		<hr />
		<!-- header end -->
		<!-- widget start -->
		<div id="widget">
			<ul>
				<li><a href="{{ SITEURL }}/">首頁</a></li>
				<li><a href="{{ SITEURL }}/archives.html">彙整</a></li>
				<li><a href="{{ SITEURL }}/categories.html">分類</a></li>				
				<li><a href="{{ SITEURL }}/tags.html">標籤</a></li>
				{% if FEED_ALL_ATOM %}
				<li><a href="{{ SITEURL}}/{{ FEED_ALL_ATOM }}">訂閱</a></li>
				{% endif %}
			</ul>
			{% if LINKS %}
			<ul>
				{% for name, url in LINKS %}
				<li><a href="{{ url }}">{{ name }}</a></li>
				{% endfor %}
			</ul>
			{% endif %}
			{% if SOCIAL %}
			<ul>
				{% for name, url in SOCIAL %}
				<li><a href="{{ url }}">{{ name }}</a></li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
		<!-- widget end -->
		<!-- page_content start -->
		<div id="page_content">
			<div id="doc_content">
			{% block post %}
			{% endblock post %}
			</div>
		{% block doc_info %}
		{% endblock doc_info %}
		</div>
		<!-- page_content end-->
		<!--fotter start-->
		<div id="fotter">
		本網誌
		{% if HOSTING %}
		{% for name, url in HOSTING%}
		託管於<a href="{{ url }}">{{ name }}</a>，
		{% endfor %}
		{% endif %}
		由<a href="https://github.com/getpelican/pelican">Pelican</a>強力驅動,<a href="http://www.gitcafe.com/monphey/doku4pelican">主題</a>由<a href="http://www.monphey.com">木菲</a>製作。
		<br />
		{% if COPYRIGHT %}
		{% for name, url in COPYRIGHT %}
		除另有註明，本站內容皆爲<a href="{{ SITEURL }}">{{ AUTHOR }}</a>原創，以<a href="{{ url }}">{{ name }}</a>釋出。
		{% endfor %}
		{% endif %}
		</div>
		<!-- fotter end -->
	</div>
</body>
</html>
