{% extends "base.html" %}
{% block title %}分類 - {{ SITENAME }}{% endblock title %}
{% block post %}
	<!-- toc start -->
	<div id="toc">
		<h3>目錄</h3>
			<div>
				<ul>
					{% for category, articles in categories %}
						<li id="lv1"><a href="#{{ category }}">{{ category }}</a></li>
					{% endfor %}
				</ul>
			</div>
	</div>
	<!-- toc end -->
	<!-- act start -->
	<div id="act">
		<h1>分類</h1>
		{% for category, articles in categories %}
			<h2><a id="{{ category }}" href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></h2>
			<ul>
				{% for article in articles %}
					<hr />
					<li>{{ article.locale_date }}<a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
				{% endfor %}
			</ul>
		{% endfor %}
	</div>
	<!-- act end -->
{% endblock post %}
