
{% extends "base.html" %}

{% block post %}
	<!-- toc start -->
	<div class="toc">
		<h3>目錄</h3>
			<div>
				<ul>
					{% for article in articles_page.object_list %}
					<li class="lv1"><a href="#{{ article.slug }}">{{ article.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
	</div>
	<!-- toc end -->
	<!-- post start-->
	{% for article in articles_page.object_list %} 
		<div class="post_header">
			<h1><a id="{{ article.slug }}" href="{{ SITEURL }}/{{ article.url }}" title="{{ article.title|striptags }}"> {{ article.title }} </a></h1>
			<p><time>{{ article.locale_date }}</time>發佈於
			<a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></p>
		</div>

		<div class="post_content"> 
			{{ article.summary }}
		</div>

		<div class="post_fotter">
			<a class="readmore" href="{{ SITEURL }}/{{ article.url }}">閱讀全文→</a>
			<hr />
		</div>
	{% endfor %}
	<!-- post end-->
	<!-- pagination start -->
	{% if articles_page and articles_paginator.num_pages > 1 %}
		<div class="pagination">
			<ul>
				{% if articles_page.has_previous() %}
					{% set num = articles_page.previous_page_number() %}
					<li class="prev"><a href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html">上一頁</a></li>
				{% else %}
					<li class="disabled"><a href="#">上一頁</a></li>
				{% endif %}

				{% if articles_page.has_next() %}
					<li class="next"><a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">下一頁</a></li>
				{% else %}
					<li class="disabled"><a href="#">下一頁</a></li>
				{% endif %}
			</ul>
		</div>
	{% endif %}
	<!-- pagination end -->
{% endblock post %}
